/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

/* logo start */
.navbar-brand i{
    color: #1c9b59;
    font-size: 25px;
    font-weight: 900;
}
.navbar-light .logo{
    color: #152c56;
    font-weight: 600;
    font-size: 25px;
}
/* logo end */

.navbar-nav {
    margin-right: 200px;
    align-items: center;
}
.list ul{
    margin: auto;
}
.list ul li{
    list-style: none;
    padding: 0 10px;
}
.list ul li i{
    font-size: 20px;
    color: #1f2a50;
   
}

link:focus, .navbar-light .navbar-nav .nav-link:hover {
    /* border: 1px solid #1c9b59; */
    background: #1c9b59;
    color: white;
    border-radius: 5px;
    /* padding: 5px 20px; */
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    color: rgba(0,0,0,.9);
    color: white;
    background: #1c9b59;
    border-radius: 5px;
    padding: 5px 20px;
}
link:focus, .navbar-light .navbar-nav .nav-link{
    margin: 0 5px;
}


.icon:before, .fa-search:before {
    width: 40px;
    height: 40px;
    background: #efeef1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s all ease-in-out;
}

.icon:hover:before, .fa-search:hover:before{
    background: #1c9b59;
    color: #fff;
    transform: rotate(360deg);
}

.hero_section{
    border-bottom: 3px solid rgb(236, 236, 236);
}



/* banner section */
.banner_section{
    min-height: 100vh;
}
.banner h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #1e9c5d;
}
.banner h1{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: #162b56; 
}
.banner p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8a8889;
    line-height: 24px;
    padding-bottom: 30px;
}
.banner a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #162b56;
    padding: 10px 30px;
    background: #162b56;
    color: #fff;
    border-radius: 5px;
    transition: .5s all ease-in-out; 
}
.banner a:hover{
    background: #1c9b59;
    color: #fff;
    border: 1px solid #1c9b59;
}







/* dishes section */
.dishes_section{
    background: #dbd8d8;

}
.header{
    text-align: center;
    padding: 20px 0;
    color: #172b56;
}
.dishes{
    background: #fff;
    padding: 20px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px #dbd8d8;
    margin-bottom: 20px;
}
.dishes img{
    width: 100%;
}
.dishes h3{
    color: #152c56;
    padding-top: 10px;
}
.dishes i{
    color: #259d5f;
    padding: 15px 0;
}
.dishes ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.dishes ul li{
    list-style: none;
    font-size: 22px;
    color: #1c9b59;
    margin: 0 10px;
    font-weight: 700;
    
}
.dishes ul li i{
    font-size: 22px;
    font-weight: 700;
}
.dishes ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    background: #162b56;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    transition: .5s all ease-in-out;
}
.dishes ul li a:hover{
    background: #1c9b59;
    color: #fff;
}
/* .dishes:hover{
    box-shadow: 1px 1px 20px 0px #dbd8d8;
} */





/* country section */
.country_section{
    background: #ffffff;
    padding: 20px 0;
}
.country_contant{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #152c56;
    padding: 20px 0 20px;
}
.country_contant h5{
    color: #1c9b59;
}
.country{
    font-family: 'Poppins', sans-serif;
}
.country h1{
    color: #152c56; 
}
.country p{
    color: #969494;
    padding-top: 20px;
}
.country ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.country ul li{
    list-style: none;
    padding: 20px 0 40px;
}
.country ul li a{
    text-decoration: none;
    color: #74727e;
    border: 1px solid #dedcdc;
    padding: 15px;
    background: #efefef;
    border-radius: 5px;
    transition: .5s all ease-in-out;
}
.country ul li a:hover{
    box-shadow: 2px 2px 20px 1px #dbd7d7;
}
.country ul li a i{
    color: #1c9b59;
    font-size: 25px;
}
.country .link1{
   text-decoration: none;
   border: 1px solid #162b57;
   border-radius: 5px;
   padding: 10px 30px;
   background: #162b57;
   color: #fff;
   transition: .5s all ease-in-out; 
}
.country .link1:hover{
    background: #1c9b59;
    color: #fff;
    border: 1px solid #1c9b59;
}






/* menu section */
.menu_section{
    padding: 20px 0 10px;
    background: #efefef;
}
.menu{
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.menu img{
    border-radius: 5px;
}
.menu i{
    color: #1c9b59;
    padding-top: 15px;
}
.menu h3{
    font-size: 25px;
    color: #152c56;
    padding-top: 10px;
}
.menu p{
    font-size: 16px;
    color: #98989b;
}
.menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li{
    list-style: none;
    font-size: 25px;
    color: #1c9b59;
    /* padding-right: 51px; */
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #152c56;
    padding: 10px 30px;
    background: #152c56;
    color: #fff;
    border-radius: 5px;
    transition: .5s all ease-in-out;
}
.menu ul li a:hover{
    background: #1c9b59;
    border: 1px solid #1c9b59;
}
.menu ul li i{
    font-size: 25px;
    /* margin-right: 45px; */
}







/* review section */
.review{
    padding: 20px 0;
}
.single_contant{
    display: flex;
    justify-content: space-between;
}

.left_review{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.right ul{
    padding-left: 15px;

}
.right ul li{
    list-style: none;
}
.right ul li h4{
    font-size: 25px;
    margin: 0;
    color: #162b56;
}
.right ul li i{
    color: #1c9b59;
}
.right_review{
    /* border: 2px solid rgb(11, 52, 185); */
}
.right_review i{
    font-size: 70px;
    color: #cdcdcd;
}
.review_p{
    padding: 20px 10px 0;
    box-shadow: 1px 1px 20px 1px #e2e0e0;
}
.review_p p{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #a09e9e;
}






/* form section */
.form_section{
    padding: 20px 0;
    background: #efefef;

}
form{
    padding: 15px 10px 20px;
    box-shadow: 2px 1px 20px 1px #dad6d6;
    border-radius: 5px;
    background: #fff;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.form_left{
    width: 49%;
    /* padding-bottom: 10px; */
}
.form_left input[type="text"], .form_left input[type="number"], .form_left textarea[name="textarea"]{
    width: 100%;
    background: transparent;
    background: #efefef;
    padding: 5px;
    border: none;
    outline: none;
    color: #9c9a9c;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s all ease-in-out;
}
.form_left input[type="text"]::placeholder, .form_left input[type="number"]::placeholder, .form_left textarea[name="textarea"]::placeholder{
    color: #9c9a9c;
}
/* .form_left input[type="text"]:hover, .form_left input[type="number"]:hover, .form_left textarea[name="textarea"]:hover{
    border: 1PX solid #1c9b59;
} */
.form_left label{
    color: #9c9a9c; 
}


.form_right{
    width: 49%;
}
.form_right input[type="text"], .form_right input[type="datetime-local"], .form_right textarea[name="textarea"]{
    width: 100%;
    background: transparent;
    background: #efefef;
    padding: 5px;
    border: none;
    outline: none;
    color: #9c9a9c;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s all ease-in-out;
}
.form_right input[type="text"]::placeholder, .form_right textarea[name="textarea"]::placeholder{
    color: #9c9a9c;
}
/* .form_right input[type="text"]:hover, .form_right input[type="number"]:hover, .form_right textarea[name="textarea"]:hover{
    border: 1PX solid #1c9b59;
} */
.form_right label{
    color: #9c9a9c;
}
form a{
    text-decoration: none;
    border: 1px solid #162b56;
    padding: 10px 30px;
    background: #152c56;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    transition: .5s all ease-in-out;
}
form a:hover{
    background: #1c9b59;
    color: #fff;
    border: 1px solid #1c9b59;
}





footer{
    font-family: 'Poppins', sans-serif;
    padding: 30px 0 10px;

}
.footer_contant{

}
.footer_contant ul{

}
.footer_contant ul li{
    list-style: none;

}

.footer_contant ul li:first-child{
    color: #152c56;
    font-size: 25px;
    font-weight: 600;
}

.footer_contant ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #8a8889;

}
.footer_contant ul li a:hover{
    color: #1c9b59;
}
.footer_text hr{
    width: 92.5%;
    height: 1px;
    background: #8a8889;
    margin: auto;
}
.footer_text p{
    font-size: 16px;
    text-align: center;
    padding-top: 30px;

}
.footer_text span{
    color: #1c9b59;
}





@media (max-width:1200px){
    .country ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #74727e;
        border: 1px solid #dedcdc;
        padding: 5px;
        background: #efefef;
        border-radius: 5px;
        transition: .5s all ease-in-out;
    }
    .country ul li a i {
        color: #1c9b59;
        font-size: 20px;
    }
}

@media (max-width:1024px){
    .country ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #74727e;
        border: 1px solid #dedcdc;
        padding: 5px;
        background: #efefef;
        border-radius: 5px;
        transition: .5s all ease-in-out;
    }
    .country ul li a i {
        color: #1c9b59;
        font-size: 20px;
    }
}


@media (max-width:991px){
    .country ul li a {
        font-size: 11px;
        text-decoration: none;
        color: #74727e;
        border: 1px solid #dedcdc;
        padding: 5px;
        background: #efefef;
        border-radius: 5px;
        transition: .5s all ease-in-out;
    }
    .country ul li a i {
        color: #1c9b59;
        font-size: 15px;
    }
}





@media (max-width:768px){
    .country ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #74727e;
        border: 1px solid #dedcdc;
        padding: 5px;
        background: #efefef;
        border-radius: 5px;
        transition: .5s all ease-in-out;
    }
    .country ul li a i {
        color: #1c9b59;
        font-size: 15px;
    }
}

@media (max-width:450px){
    .country ul li a {
        font-size: 13px;
        text-decoration: none;
        color: #74727e;
        border: 1px solid #dedcdc;
        padding: 5px;
        background: #efefef;
        border-radius: 5px;
        transition: .5s all ease-in-out;
    }
    .country ul li a i {
        color: #1c9b59;
        font-size: 15px;
    }
}

@media (max-width:388px){
    .country ul li a {
        font-size: 10px;
        text-decoration: none;
        color: #74727e;
        border: 1px solid #dedcdc;
        padding: 5px;
        background: #efefef;
        border-radius: 5px;
        transition: .5s all ease-in-out;
    }
    .country ul li a i {
        color: #1c9b59;
        font-size: 15px;
    }
}